**/binary/**
**/build/**
**/.ccls/**
**/.ccls-cahce/**
**/result/**

Nixos/customPackages/hexeon/binary
Nixos/customPackages/hexeon/binary/*

Nixos/customPackages/hexeon/build
Nixos/customPackages/hexeon/build/*

Nixos/customPackages/hexeon/.ccls-cache/*
Nixos/customPackages/hexeon/.ccls

Nixos/customPackages/hexeon/result
Nixos/customPackages/hexeon/result/*
